.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  background-color: #34495e; /* Darker shade for a more professional look */
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li {
  flex-grow: 1;
  text-align: center;
  padding: 8px;
  margin: 0 5px;
  background-color: #2c3e50; /* Slightly lighter than nav background */
  color: #ecf0f1;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li:hover {
  background-color: #3498db; /* A light blue for hover */
}

.content {
  flex: 1; /* Ensure it takes full height */
  display: flex;
  flex-direction: column; /* Stack vertically */
  overflow: hidden;
}

.profile-icon, .dropdown-content {
  border-radius: 4px; /* Consistent border-radius */
  transition: all 0.3s ease;
}

.dropdown-content {
  background-color: #f8f9fa; /* Very light background for the dropdown */
}

.dropdown-content a:hover {
  background-color: #3498db; /* Matching hover effect with nav */
}
