.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px;
  width: 100%;
  gap: 12px;
  background: white;
}

nav ul li {
  flex-grow: 1;
  text-align: center;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
  color: #1d1a1a;
  border-radius: 12px;
  padding: 10px 20px;
  font-family: "Poppins";
  font-weight: 500;
  transition: background-color 0.3s;
}
nav ul li.selected {
  color: #ecf0f1;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 107, 141) 0%,
    rgb(0, 69, 91) 90%
  );
}

.content-block {
  flex: 1; /* Ensure it takes full height */
  display: flex;
  flex-direction: column; /* Stack vertically */
  overflow: hidden;
  background: #ffffff;
  padding: 24px;
}

.profile-icon {
  border-radius: 4px; /* Consistent border-radius */
  transition: all 0.3s ease;
  background: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.user-initial {
  height: 36px;
  width: 36px;
  line-height: 18px;
  font-size: 14.4px;
  background-color: #efefef;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #2245d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-filter {
  height: 32px;
  width: 200px;
  cursor: pointer;
  border: 2px solid #3498db;
  font-family: "Poppins";
  border-radius: 12px;
  padding: 4px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
