/* DashBoardComponent.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Set background color to white */
}

.navbar {
    background-color: #3c009d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
}

.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #3c009d;
    color: #fff;
    text-align: left;
}

.person-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
