.navCustom {
    margin: 0 !important;
    background-color: #3c009d;
    color: #fff;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 1rem !important;
    padding: 25px 1rem !important;
}

.navCustom ul {
    font-size: 1.5rem !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    display: flex !important;
    gap: 1rem !important;
}

.navCustom a {
    color: #fff !important;
    text-decoration: none;
    display: flex;
    padding: 0.25rem;
}

.homeNavCustom {
    font-size: 3rem;
}

.navCustom li:hover a {
    color: #000000 !important;
}
