.nav {
    margin: 0 !important;
    background-color: #3c009d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 25px 1rem;
}

.nav ul {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: #fff !important;
    text-decoration: none;
    display: flex;
    padding: 0.25rem;
}

.homeNav {
    font-size: 3rem;
}

.nav li:hover a {
    color: #000000 !important;
}
