.projects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px; 
}


.project-cell {
  padding: 16px;
  min-width: 30%;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 12px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-transform: capitalize;
}
.project-cell h3 {
  font-weight: 500;
}

.project-cell p {
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.overlay-content {
  background: white;
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  border-radius: 12px;
  z-index: 2;
}
.overlay-content h2,.overlay-content p{
    margin: 0;
}
.overlay-content form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.overlay-content label  {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.overlay-content  label textarea,.overlay-content  label input {
  border-radius: 12px;
  resize: none;
  color: #101012;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.42px;
  padding: 8px;
  height: 40px;
}
.overlay-content  label select{
    width: 400px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #525252 ;
    font-family: 'Poppins';
    border-radius: 6px;
    padding: 4px;
    margin-top: 10px;
}

.edit-form,.edit-form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.edit-form select{
    width: 400px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #525252 ;
    font-family: 'Poppins';
    border-radius: 6px;
    padding: 4px;
}

.developer-cell {
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
  display: inline-block;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.pagination {
  width: 100%; /* Ensures the pagination bar spans the width of the container */
  display: flex;
  justify-content: center;
  margin-top: auto; /* Pushes the pagination bar to the bottom */
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.search-bar { 
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.search-bar input { 
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown { 
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  z-index: 1;
}

.dropdown li { 
  padding: 8px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}









