.column {
    margin: 8px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 2px;
    width: 220px;
    display: flex;
    flex-direction: column;
  }
  
  .bug {
    padding: 8px;
    margin: 8px;
    background-color: lightgrey;
    border-radius: 2px;
  }
  
  .dragging {
    background-color: lightblue;
  }
  